extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
    +alert_success("5000")
    +alert_error("5000")
    
    section.content-section
        h3 Chỉnh Sửa Sản Phẩm

        .form-container
            form(action=`/admin/products/edit/${records.id}?_method=PATCH` method="POST" enctype="multipart/form-data")
                
                .form-fields 
                    
                    .form-group-card
                        h4 Thông tin Cơ bản
                        
                        
                        .form-group
                            label(for="title") Tên Sản Phẩm:
                            input#title(type="text" name="title" required value = records.title)

                        .form-group 
                            label(for="parent_id") Danh mục cha:
                            select(class="form-control" name = "parent_id")
                                +select-tree(recordsTree,1,records.products_category_id)
                        .form-group
                            label(for="price") Giá (VNĐ):
                            input#price(type="number" name="price" min="0" required value = records.price)
                        .form-group
                            label(for="discountPercentage") Giảm Giá %:
                            input#price(type="number" name="discountPercentage" min="0" required value = records.discountPercentage)
                        .form-group.full-width
                            label(for="description") Mô Tả:
                            textarea#description(name="description" rows="5") #{records.description}

                    
                    .form-group-card
                        h4 Media & Vị trí

                        
                        .form-group
                            label(for="thumbnail") Ảnh Đại Diện:
                            input#thumbnail(type="file" name="thumbnail" accept="image/*" upload-image-input)
                            img(src = records.thumbnail upload-image-priview style = "width:150px;height:auto")

                        
                        .form-group
                            label(for="position") Vị Trí Sắp Xếp:
                            input#position(type="number" name="position" placeholder = "Tự động tăng" value = records.position)

                        
                        .form-group
                            label(for="stock") Số lượng:
                            input#sku(type="number" name="stock" min="0" value =records.stock)
                        .form-group
                            label(for="status") Trạng Thái:
                            select#status(name="status" required)
                                option(value="active" selected = (records.status == "active" ? true : false)) Hoạt động
                                option(value="inactive" selected = (records.status == "inactive" ? true : false)) Dừng hoạt động
                

                
                .form-actions
                    button.btn-submit(type="submit")
                        i.fas.fa-save
                        | Cập nhật
                    a.btn-cancel(href="/admin/products")
                        i.fas.fa-times
                        | Hủy Bỏ