* {
    padding: 0px;
    margin: 0px;
}

.header {
    padding: 15px 0px;
    background-color: white;
    position: sticky;
    top: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.header .inner-menu ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-size: 22px;
}

.footer {
    background-color: #333333;
    color: white;
    text-align: center;
    font-size: 22px;
}

/* Thiết lập chung cho các hộp sản phẩm */
.section-one {
    padding: 50px 0px;
}

.box {
    width: 100%;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

/* Hiệu ứng khi di chuột qua hộp */
.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Phần chứa hình ảnh */
.box-image {
    overflow: hidden;
    height: 200px;
    margin-bottom: 10px;
}

/* Thẻ hình ảnh bên trong */
.box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

/* Phần chứa tiêu đề và giá */
.box-content {
    padding: 10px 0;
    text-align: left;

}

.box-title {
    font-size: 1.1em;
    font-weight: 600;

    color: #333;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

/* Giá mới (Giá khuyến mãi) */
.box-price-new {

    color: #e60023;


    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;
}


.box-price-old {
    color: #888;
    text-decoration: line-through;
    font-size: 0.9em;
    display: inline-block;
    margin-right: 10px;
    padding-top: 5px;
}


.box-percent {

    background-color: #28a745;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;

}