aside.sidebar
    .logo Trang Quản Trị
    nav.sidebar-nav
        ul
            li
                a(href="/admin/dashboard")
                    i.fas.fa-home
                    | Tổng quan
            li 
                a(href="/admin/products-category") 
                    i.fas.fa-tags 
                    | Danh mục sản phẩm
            li
                a(href="/admin/products")
                    i.fas.fa-box
                    | Sản phẩm
            li
                a(href="#")
                    i.fas.fa-users
                    | Người dùng
            li
                a(href="#")
                    i.fas.fa-file-alt
                    | Báo cáo
            li
                a(href="#")
                    i.fas.fa-cog
                    | Cài đặt
    .sidebar-footer
        a(href="#")
            i.fas.fa-sign-out-alt
            | Đăng xuất